*{
    background-color: black;
    color: white
}

h1{
    margin-top: 50px;
    margin-left: 50px;
}


.icon {
    min-height: 50px;
    max-width: 50px;
}

.item p {
    display: inline-block;
}
 
.comida {
    text-align: left;
    text-align: left;
   width: 50%;
}
.preço {
    text-align: right;
    width: 20%;
    
    background-color: aliceblue;
    color: blue;
    border-radius: 32px;
    border: -10px;
    padding:0%;
    
}

.sem-preço {
  display: inline-flex;
  justify-content: end;
  width: 20%;
}

img {
    display: block;
    
    margin-left: 90%;
}

footer{
    border-top: 5px solid black;
    text-align: center;
}

a {
    color: yellow;
}